<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/css/login.css">
    <title>Set New Password | Quill</title>
</head>
<body>
    <main class="login-section">
        <div class="login-card">
            <h2 class="login-heading">Set New Password</h2>
            <% if (error) { %><div style="color: red;"><%= error %></div><% } %>
            
            <form action="/reset/<%= token %>" method="POST">
                <div class="form-group">
                    <label class="form-label">New Password</label>
                    <input class="form-input" type="password" name="password" required minlength="6">
                </div>
                <button type="submit" class="btn btn-primary btn-wide">Update Password</button>
            </form>
        </div>
    </main>
</body>
</html>
